<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head('Edit Collaborator')"></head>
<body>
<div th:replace="layout :: flash"></div>
<header th:replace="layout :: header"></header>
<nav>
    <ul>
        <li><a th:href="@{/index.html}">Projects</a></li>
        <li class="selected"><a th:href="@{/collaborators.html}">Collaborators</a></li>
        <li><a th:href="@{/roles.html}">Roles</a></li>
    </ul>
</nav>
<section>
    <div class="container wrapper">
        <form th:object="${collaborator}" th:action="|@{/collaborators/}${collaborator.id}|" method="post">
            <input type="hidden" th:field="*{id}"/>
            <h2>Manage Collaborators</h2>
            <div class="actions add-new-collaborator">
                <input type="text" th:field="*{name}" th:classappend="${#fields.hasErrors('name')}? 'error' : ''"
                       placeholder="Name..."/>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <select th:field="*{role.id}">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                </select>
                <button type="submit" class="button" style="width: 84px;">Update</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
